@tailwind base;
@tailwind components;
@tailwind utilities;


/* @layer base {
  body {
    @apply bg-tan;
  }
}

@layer components {
  .bg-tan {
    background-color: #292929;
  }
} */

/* @keyframes spin {
    0% { transform: rotate(0deg); }
    100% {  transform: rotate(359deg); }
}
#star {
    animation: spin 2s linear infinite;

} */